.ms-Button {
  background-color: #4CAF50; /* Green background for the button */
  color: white; /* White text color */
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}
.ms-Button:hover {
  background-color: #388E3C; /* Darker green on hover */
}

.form-item {
  margin-bottom: 10px;
  margin-top: 10px;
}

.bordered-div {
  border-style: solid; /* Style of the border */
  border-width: 2px; /* Thickness of the border */
  border-color: #8C8C8C; /* Gray border for the div */
  padding: 20px; /* Space inside the div */
  margin: 10px; /* Space outside the div */
  display: inline-block;
}

.title {
  color: blue;        /* Sets the text color to blue */
  font-weight: bold;  /* Makes the text bold */  
  margin-bottom: 10px;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Hide loader by default */
.hidden {
    display: none;
}

